#**Python Programming Problems**
In case you forgot basic python concepts, go [here](https://adriann.github.io/programming_problems.html)

## Elementary Problems

In [1]:
#Write a program that prints ‘Hello World’ to the screen.
def fun():
  print('hello world')

fun()

hello world

In [2]:
#Write a program that asks the user for their name and greets them with their name.
def askname():
  name = 'Lauren'
  print('What is your name?')
  print('Hello ' + name)

askname()

What is your name?
Hello Lauren

In [3]:
#Modify the previous program such that only the users Alice and Bob are greeted with their names.
def askname():
  name1 = 'Alice'
  name2 = 'Bob'
  print('What is your name?')
  print('Hello ' + name1 + ' Hello ' + name2)

askname()

What is your name?
Hello Alice Hello Bob

In [4]:
#Write a program that asks the user for a number n and prints the sum of the numbers 1 to n
def asknumber():
  n = 5
  n2 = 1 + 2 + 3 + 4
  print(n + n2)

asknumber()

15

In [5]:
#Modify the previous program such that 
#only multiples of three or five are considered in the sum, e.g. 3, 5, 6, 9, 10, 12, 15 for n=17

num=int(input("Enter the Number " ))
sum=0

for i in range(1, num + 1):
        sum = sum+ i
print(sum)

Enter the Number 15
120

In [6]:
#Write a program that asks the user for a number n and gives them the
#possibility to choose between computing the sum and computing the product of 1,…,n.

def asknum(n):
  result = 0
  
  for x in range(1, n+1):
    result = result + sumofDigits(x)

  return result

def sumofDigits(x):
  sum = 0
  while (x != 0):
    sum = sum + x % 10 
    x = x // 10

  return sum

n = 24
print("sum of digits in numbers from 1 to ", n, "is", sumofDigits(n))

sum of digits in numbers from 1 to  24 is 6

In [22]:
# Write a program that prints a multiplication table for numbers up to 12.

num = int(input("Enter the number: "))

print("Multiplication Table of", num)
for i in range(1, 11):
   print(num,"X",i,"=",num * i)

Enter the number: 12
Multiplication Table of 12
12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
12 X 10 = 120

In [10]:
# Write a program that prints all prime numbers. (Note: if your programming 
# language does not support arbitrary size numbers, printing all primes up to the largest number you can easily represent is fine too.)

prime_start = 100
prime_end = 300

print("Prime numbers between", prime_start , "and", prime_end , "are:")
for num in range(prime_start, prime_end + 1):
    # all prime numbers are > 1
    if num > 1:
      for i in range(2, num):
        if (num % i) == 0:
          break
      else:
        print(num)

Prime numbers between 100 and 300 are:
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293

In [8]:
# Write a program that prints the next 20 leap years.
import calendar

def pred_leap(year, num_of_years):
  leap_year_count = 0
  while leap_year_count < num_of_years:
    if calendar.isleap(year):
      print('{} is a leap year!'.format(year))
      leap_year_count += 1
    year += 1

#test run
pred_leap(2020, 20)

2020 is a leap year!
2024 is a leap year!
2028 is a leap year!
2032 is a leap year!
2036 is a leap year!
2040 is a leap year!
2044 is a leap year!
2048 is a leap year!
2052 is a leap year!
2056 is a leap year!
2060 is a leap year!
2064 is a leap year!
2068 is a leap year!
2072 is a leap year!
2076 is a leap year!
2080 is a leap year!
2084 is a leap year!
2088 is a leap year!
2092 is a leap year!
2096 is a leap year!

In [25]:
# Write a program that computes the sum of an alternating series where each element of the series 
# is an expression of the form ((-1)^{k+1})/(2 * k-1) for each value of k from 1 to a million, multiplied by 4. Or, in more mathematical notation

'4\cdot \sum_{k=1}^{10^6} \frac{(-1)^{k+1}}{2k-1} = 4\cdot(1-1/3+1/5-1/7+1/9-1/11\ldots).'

n = int(input("Integer n: "))
result = sum(n, (-1)**(k+1) * k**2) for k in range(1, n + 1)
  print(result)

# REVISIT AND FIX!

Integer n: 6
1
-4
9
-16
25
-36

In [21]:
'''Use the variables k and total to write a while loop that computes the sum of the squares of the first 50 counting numbers, 
and associates that value with total. 
Thus your code should associate 11 + 22 + 33 +... + 4949 + 50*50 with total. 
Use no variables other than k and total'''

k=0
total=0
while k<50:
  k+=1
  total+=k*k
print(k)
print(total)

50
42925

## Lists and Strings

In [1]:
# Write a function that returns the largest element in a list.

def return_largest_element(list):
  largest = 0
  for x in range(0, len([1,2,3])):
    if(array[x] > largest):
      largest = array[x]
      print(largest)
  return largest

In [14]:
# Write a function that reverses a list, preferably in place.

def Reverse(lst):
    lst.reverse()
    return lst
      
lst = [10, 11, 12, 13, 14, 15]
print(Reverse(lst))

[15, 14, 13, 12, 11, 10]

In [19]:
# Write a function that checks whether an element occurs in a list.
num_list = [ 1, 6, 3, 5, 3, 4 ]

for i in num_list:
    if(i == 5 and 6) :
        print ("Element Exists")
  
print("Checking if 5 and 6 exists in list ( using in ) : ")

Element Exists
Checking if 5 and 6 exists in list ( using in ) :

In [1]:
# Write a function that returns the elements on odd positions in a list.

lst = [33, 25, 65, 72, 11, 89, 22, 54, 111, 425, 226]

lst_length = len(lst)

for i in range(1, lst_length, 2):
  print(lst[i], end=" ")

25 72 89 54 425

In [2]:
# Write a function that computes the running total of a list.

lst = [33, 25, 65, 72, 11, 89, 22, 54, 111, 425, 226]

def listTotal(lst):
  new_list = []
  length = len(lst)
  new_list = [sum(lst[0:x:1]) for x in range(0, length+1)]
  return new_list[1:]

print(listTotal(lst))

[33, 58, 123, 195, 206, 295, 317, 371, 482, 907, 1133]

In [3]:
# Write a function that tests whether a string is a palindrome.
# Reminder: a palindrome is a number (such as 1881) that reads the same backward or forward

def palindrome(string):
  return string == string[::-1]

string = 'racecar'
output = palindrome(string)

if output:
  print('Yes, this is a palindrome.')
else:
  print('No, this aint a palindrome')

Yes, this is a palindrome.

In [9]:
# Write three functions that compute the sum of the numbers in a list: using a for-loop, a while-loop and recursion. 
# (Subject to availability of these constructs in your language of choice.)
# REMINDER: BE AWARE OF YOUR INDENTATIONS!

# for-loop
def sum_list(numlist):
  mySum = 0
  for i in numlist:
    mySum = mySum + i
  return mySum

print('The sum of list using a for-loop is: ')
print(sum_list([3, 6, 9, 12, 15]))

The sum of list using a for-loop is:
45

In [27]:
# while-loop
total = 0
elements = 0
list1 = [1, 2, 3, 4, 5]

while (elements < len(list1)):
  total = total + list1[elements]
  elements += 1

print('The sum of list using while-loop is: ', total)

The sum of list using while-loop is:  15

In [19]:
# recursion

def sum_list(numlist):
  if len(numlist) == 1:
    return numlist[0]
  else:
    return numlist[0] + sum_list(numlist[1:])
print(sum_list([2,4,6,8,10]))

30

In [4]:
# Write a function that concatenates two lists. [a,b,c], [1,2,3] → [a,b,c,1,2,3]

list1 = ['a', 'b', 'c']
list2 = [1, 2, 3,]

for i in list2:
  list1.append(i)

print('Whoa! We constucted a concatenated list: ' + str(list1))

Concatenated list: ['a', 'b', 'c', 1, 2, 3]

In [18]:
# Write a function that combines two lists by alternatingly taking elements, e.g. [a,b,c], [1,2,3] → [a,1,b,2,c,3].

list1 = ['a', 'b', 'c']
list2 = [1,2,3]

def new_list(list1, list2):
    output_list = []
    for item1, item2 in zip(list1, list2):
        output_list.append(item1)
        output_list.append(item2)
        
    return output_list

new_list(['a', 'b', 'c'],[1,2,3] )

['a', 1, 'b', 2, 'c', 3]

In [43]:
# Write a function that computes the list of the first 100 Fibonacci numbers. 
# The first two Fibonacci numbers are 1 and 1. 
# The n+1-st Fibonacci number can be computed by adding the n-th and the n-1-th Fibonacci number. 
# The first few are therefore 1, 1, 1+1=2, 1+2=3, 2+3=5, 3+5=8.

def Fibonacci(n):
  if n<0:
    print('Incorrect input')
  elif n==0: # First fibonacci number is 0
    return 0
  elif n==1: #Second fibonacci number is 1
    return 1
  else:
    return Fibonacci(n-1) + Fibonacci(n-2)

print(Fibonacci(11))

89

In [33]:
# Write a function that takes a number and returns a list of its digits. So for 2342 it should return [2,3,4,2].
num = 2342

print('The original number is: ' + str(num))

return_list = [int(x) for x in str(num)]
print('The list from number is ' + str(return_list))

The original number is: 2342
The list from number is [2, 3, 4, 2]

In [15]:
# Write a function that takes a list of strings an prints them, one per line, in a rectangular frame. 
# For example the list ["Hello", "World", "in", "a", "frame"] gets printed as:
'''
*********
* Hello *
* World *
* in    *
* a     *
* frame *
*********
'''

words = ["Hello", "World", "in", "a", "frame"]

def single_string_in_frame(*words):
  size = max(len(word) for word in words)
  print ('*' * (size + 4))
  for word in words:
    print('* {:<{}} *'.format(word, size))
  print('*' * (size + 4))

single_string_in_frame("Hello", "World", "in", "a", "frame")

*********
* Hello *
* World *
* in    *
* a     *
* frame *
*********

In [40]:
# Write function that translates a text to Pig Latin and back. English is translated to Pig Latin by taking the first letter of every word, 
# moving it to the end of the word and adding ‘ay’. 
# “The quick brown fox” becomes “Hetay uickqay rownbay oxfay”.
# REVIEW, CORRECT, PRACTISE

newWords = []

# Find the first letter
words = 'The quick brown fox'
print(words[0])

for letter in words: #iterating through letters of each word in words phrase
  newWord = letter[1:] + letter[0] + 'ay' #moving first letter of each word to end and adding ay
  newWords.append(newWord)
  print(newWord)
print(newWords)

T
Tay
hay
eay
 ay
qay
uay
iay
cay
kay
 ay
bay
ray
oay
way
nay
 ay
fay
oay
xay
['Tay', 'hay', 'eay', ' ay', 'qay', 'uay', 'iay', 'cay', 'kay', ' ay', 'bay', 'ray', 'oay', 'way', 'nay', ' ay', 'fay', 'oay', 'xay']

In [41]:
def pigLatin():
    words = str(input("Input Sentence:")).split()
    for word in words:
        print(word[1:] + word[0] + "ay", end = " ")
    print ()

pigLatin()

Input Sentence:The quick brown fox
heTay uickqay rownbay oxfay